.search-form {
    border: 1px solid black;
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

.search-form > * {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.search-form > input {
    text-align: center;
}